<header>
  <app-navbar></app-navbar>
</header>

<main class="chat">
  <div class="container">
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong></strong>
            <span></span>
          </li>
        </ul>
      </div>
    </div>
    <form #sendForm="ngForm"  (ngSubmit)="sendMessage(sendForm)">
      <div class="chat-send-row">
        <div class="col-2">
          <input class="form-control" id="input-user" name="user" ngModel>
        </div>
        <div class="col-8">
          <input class="form-control" id="input-message" name="message" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
  <app-chat></app-chat>
</main>
